<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home-user/data">User Data</a></li>
          <li><a href="/home-user/change-password">Change Password</a></li>
          <li><a href="/home-user/change-email">Change Email</a></li>
          <li><a href="/home-user/add-shop">Your Shop</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ">
            <button (click)='signOut()' class="btn btn-primary" style="margin-top: 7px;">Logout </button>
        </ul>
      </div>
    </div>
  </nav>
