<app-header></app-header>

<div class="row col-md-12">
    <h1 class="text-center">Change Password</h1>
    <form #postForm="ngForm" (ngSubmit)="onPasswordChanged(postForm.value)">
        <div class="form-group">
          <label for="current_password">Current password</label>
          <input type="password" class="form-control" id="current_password" required ngModel name="current_password" />
        </div>
        <div class="form-group">
            <label for="firstPassword">New password</label>
            <input type="password" class="form-control" id="firstPassword" [(ngModel)]="firstPassword" required ngModel name="firstPassword" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Confirm New Pssword</label>
            <input type="password" class="form-control" id="secondPassword" name="secondPassword" required [ngModel]="secondPassword" (ngModelChange)="checkSame($event)">
        </div>
        <div *ngIf="passwordNotMatch" class="alert alert-warning box-msg" role="alert">
            <strong>Passwords does not match </strong>
        </div>
        <button  class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
          Change Password
        </button>
      </form>
      <div *ngIf="passwordUpdated" class="alert alert-success box-msg" role="alert">
          <strong>New password has been created. </strong> Check your mailbox
        </div>
        <div *ngIf="passwordNotUpdated" class="alert alert-danger box-msg" role="alert">
          <strong>New password not created. </strong> Old password does not match
        </div>
</div>
